p{
color: rgb(48, 41, 41);
text-align: center;
}

.pokemon{
    font-size: large;
    padding: 5px;
}

header{
    background-color: rgba(0, 0, 0, 0.158);
    padding: 10px;
   }

main{
    background-color: grey;
}

footer{
    background-color: blue;
}

body{
    display:grid;
    grid-template-rows:2fr,1fr,1fr;
    height:fit-content;
}